/* Header and Nav Style */
/*header {
    width: 1920px;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
} */

.header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 250px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
}

/* Banner Part */
.banner {
    margin: 0 239px;
}

.banner-title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    margin-top: 205px;
    color: #131313;
}

.banner-description {
    color: #727272;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin-top: ;
}

.banner-btn {
    color: #FFFFFF;
    margin-left: 620px;
    margin-bottom: 30px;
    border: 0;
    border-radius: 8px;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
}

.banner img {
    margin-bottom: 45px;
}

/* Body First Part */
.body-first-part {
    display: flex;
    align-items: center;
    margin: 85px 300px;
}

.img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.first-body-details {
    margin-left: 73px;
}

.body-title {
    font-weight: 500;
    font-size: 45px;
}

.a {
    color: #727272;
}

.b {
    color: #131313;
}

.c {
    color: #FF900E;
}

.body-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.body-btn {
    color: #FFFFFF;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
    border: 0;
    border-radius: 8px;
}

/* Body Second Part */
.body-second-part {
    display: flex;
    margin: 130px 240px;
    gap: 54px;
}

.second-body-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.second-body-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.sub-body {
    padding: 30px;
    box-shadow: inset 0 -3em 3em rgba(248, 245, 245, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(211, 208, 208, 0.3);
    margin-bottom: 20px;
}

.second-body-btn {
    text-align: center;
    color: #FFFFFF;
    width: 342px;
    height: 200px;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
    margin-left: 880px;
}

.btn-tex {
    font-weight: 700;
    font-size: 65px;
}

.btn-sub-tex {
    font-weight: 500;
    font-size: 25px;
}

/* Body Third Part Style */

.third-body-summary {
    margin-left: 240px;
}

.third-body-title {
    font-weight: 700;
    font-size: 45px;
}

.third-body-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.experience-details {
    display: flex;
    gap: 124px;
    margin-left: 90px;
    margin-top: 100px;


}

.experienced {
    width: 241.83px;
    height: 241.83px;
    box-shadow: inset 0 -3em 3em rgba(221, 213, 213, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(226, 223, 223, 0.3);
    border: 1px solid #FF900E;
    border-radius: 10px;

}

.experience-title {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-top: 7px;
    margin-left: 86px;
}

.experience-title-a {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-top: 5px;
    margin-left: 60px;
}

.experience-description {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-top: 0px;
    margin-left: 46px;
}

.experience-description-a {
    margin-left: 80px;
}

.experienced,
img {
    margin-top: 45px;
    margin-left: 90px;
}

/* Last section Style */
.last-section {
    display: grid;
    justify-content: center;
}

.last-section-details {
    margin-top: 180px;
}

.last-section-title {
    font-weight: 700;
    font-size: 45px;
    margin-left: 597px;
}

.last-section-description {
    font-weight: 400;
    font-size: 16px;
    margin-left: 389px;
    margin-top: 24px;
    color: #727272;
}

.sponsor {
    margin-top: 10px;
}

/* Footer Section */
.last-tex {
    background-color: #FFF4E7;
    width: 1440px;
    height: 100px;
    margin-left: 240px;
    margin-top: 149px;
    border-radius: 8px;
    padding-top: 39px;
    
}

.footer-tex {
    
    margin-left: 510px;
}